body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #1A212F;
}
.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
a {
   text-decoration: none; 
}
header {
    padding: 10px 0px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.logo {
    float: left;
}
.logo img {
    width: 4.5vw;
    min-width: 70px;
}
.menu {
    float: right;
    font-weight: 600;
    margin-top: 0.7vw;
    color: #1A212F;
    
}
.menu ul{
    display: flex;

}
.menu li {
    list-style-type: none;
    margin-left: 30px;
}
.menu a {
    color: #1A212F;
    transition: .4s;
}
.menu a:hover {
    color: #FF7236;
}
.menu2 a {
    color: #1A212F;
    transition: .4s;
}
.menu2 a:hover {
    color: #FF7236;
}
.menu [type="checkbox"]{
    display: none;
}
.menu_class {
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}
.menu2 {
    float: right;
    font-weight: 600;
    margin-top: 0.7vw;
    color: #1A212F;
    
}
.menu2 ul{
    display: flex;

}
.menu2 li {
    list-style-type: none;
    margin-left: 30px;
}
.menu2 [type="checkbox"]{
    display: none;
}
.menu_class2 {
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}
.s2 {
    background: url(..//img/maincat.jpg) no-repeat center top / cover;
    padding-bottom: 9vw;
}
.nameblock {
    margin-left: 12vw;
    padding-top: 13vw;
}
.s2 span {
    font-size: 14px;
}
.s2 p {
    font-size: 20px;
    
}
.s2 h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 6vw;
    margin: 0;
    padding: 0;
}
.button {
    background-color: #fff;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    transition: .5s;
    
}
.button:hover {
    transform: scale(1.1);
    background-color: #FF7236;
}
.button:hover span{
    color: #fff;
}
.button span {
    font-size: 18px;
    margin-top: 8px;
}
.S_about_us h1{
    margin: 30px auto;
    margin-top: 8.5vw;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 6vh;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards span{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
    
}
.card {
    width: 19vw;
    
    border-radius: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    padding: 2vw; 
    background-color: #FFFDFB;
    margin-bottom: 30px;
    min-width: 250px;
    min-height: 360px;
    font-size: 18px;
    z-index: 2;

}
.opas {
    position: absolute;
    width: 25vw;
    margin-top: -10vw;
    right: 0px;
    z-index: 1;
}
.fish {
    position: absolute;
    left: 10px;
    width: 30vw;
}
section  .hh{
    text-align: center;
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}
.card img {
    width: 7vw;
    min-width: 120px;
    margin-bottom: 25px;
}
.swiper-pagination-bullet {
    width: 12px!important;
    height: 12px!important;
}

.swipers_buttons {
    display: flex;
    float: right;
    margin-right: 10px;
    
}
.swiper-pagination {
    position: relative!important;
    width: 140px!important;
    margin: 30px auto;
}
.swipers_buttons img {
    transition: .6s;
    width: 46px;
    height: 46px;
    margin-left: 20px;
    margin-top: -65px;  
    border-radius: 1000px;
    
}
.swiper-wrapper {
    padding: 2px;
}
.swipers_buttons img:hover {
    padding: -15px;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px .02px #FF7236;
}
.swiper-container {
    width: 60vw;
}
.swiper-slide {
    display: flex;
}
.swiper-slide .imgSlide{
    width: 40vw;
    min-width: 430px;
    min-height: 325px;
    position: relative;
    z-index: 1;
}
.swiper-slide .button{
    background-color: #FF7236
}
.swiper-slide .button img{
    width: 2vw;
}
.rate {
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    border-radius: 10px;
    width: 24vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    padding: 1vw 4vw;
    margin-left: -5vw;
    margin-top: 6vw;
    position: relative;
    z-index: 2;
    background-color: #fff;
    min-width: 283px;
    min-height: 238px;
    
}

.review {
    
    border-radius: 15px;
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    box-sizing: border-box;
    padding: 2vw;
}
.review .comm {
    margin-top: -6vw;
    float: left;
    margin-left: 20px;

}
.review span {
    color: #FF7236;
    font-size: 102px;
    margin-left: -1.3vw;
    font-family: 'Rubik', sans-serif;
}
.name-date {
    color: #848484;
}
.name {
    float: left;
}
.date {
    float: right;
}
.contacts {
    box-sizing: border-box;
    width: 41.5vw;
    padding-left: 13vw;
    background-color: #FAC663;
    float: left;
    padding-bottom: 30px;
    
}
.contacts h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 3em;
}
.sLast {
    margin-bottom: 30px;
}
iframe {
    width: 58.5vw;
    float: left;
    border: none;
}
.catSwiper {
    min-width: 697px;
}
footer {
    color: #8f8f8f;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}
.confi {
    float: right;
}
.swiper-slide .button img {
    min-width: 36px!important;
    min-height: 36px!important;
}
@media screen and (max-width: 768px) {
    .menu li {
        margin-left: 5px;
        font-size: 14px;
    }
    .menu2 li {
        margin-left: 5px;
        font-size: 14px;
    }
    .nameblock p {
        font-size: 12px;
    }
    .card {
        text-align: center;
        width: 60vw;
        padding-bottom: -100px;
        font-size: 18px;
        
    }
    .nameblock p {
        width: 200px;
    }
    .card img {
        margin-bottom: 0px;
    }
    .imgSlide {
        display: block;
        margin: 0 auto;
        width: 70vw!important;

    }
    .rate {
        background-color: rgba(255, 255, 255, .3);
        box-shadow: none;
        position: absolute;
        box-shadow: none;
        left: 45%;
        min-width: 140px;
        width: 45vw;
    }
    .rate .button {
        width: 190px;
    }

    .catSwiper {
        min-width: 320px;
        width: 85vw;
    }
    .swiper-slide .button img {
        min-width: 30px!important;
        min-height: 30px!important;
    }
    .review {

    }
    .contacts {
        padding-bottom: 25px;
    }
    .contacts h1 {
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        font-size: 2em;
    }
    .contacts h2 {
        font-size: 1.1em;
    }
}
@media screen and (max-width: 464px) {
    .menu ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu2 ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu_class, .menu_class2 {
        display: flex;
    }
    input.menu_class:checked + label.menu_class {
        background-color: red;
        transition: 12s;
    }
    input.menu_class:checked ~ ul {
        transition: 2s;
        display: flex;
    }
    .nameblock h1 {
        font-size: 26px;
    }
    .nameblock p {
        width: 100px;
    }
    .button {
        background-color: #fff;
        width: 140px;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        
    }
    .button img {
        width: 26px;
        height: 26px;
    }
    .button span {
        font-size: 14px;
        margin-top: 5px;
    }
    .catSwiper {
        min-width: 290px;
    }
    .imgSlide {
        min-width: 275px!important;
        min-height: 200px!important;
    }
    .catSwiper .swiper-slide {
        flex-direction: column;
    }
    .swipers_buttons {
        margin-top: 26px;
    }
    .catSwiper .swipers_buttons {
        margin-right: 20px;
    }
    .swipers_buttons img {
        width: 40px;
        height: 40px;
    }
    .swiper-pagination {
        position: relative!important;
        width: 60px!important;
        margin: 30px 0px 0px 0px;
    }
    .catSwiper .swiper-pagination {
        margin-left: 20px;
    }
    .rate {
        position: relative;
        width: 80vw;
        left: 0;
        margin: 0 auto;
    }
    .rate .button {
        margin: 0 auto;
        padding: ;
    }
    .contacts {
        padding-left: 15px;
    }
    .contacts h1 {
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        font-size: 1.4em;
    }
    .contacts h2 {
        font-size: 1.1em;
    }
    .menu2 ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu_class2 {
        display: flex;
    }
    input.menu_class2:checked + label.menu_class2 {
        background-color: red;
        transition: 12s;
    }
    input.menu_class2:checked ~ ul {
        transition: 2s;
        display: flex;
    }
    .copyright {
        display: block;
        text-align: center;
    }
    .confi {
        float: none;
        display: block;
        text-align: center;
    }
}