body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #1A212F;
}
.clearfix:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.toxic {

}
a {
   text-decoration: none; 
}
header {
    padding: 10px 0px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.logo {
    float: left;
}
.logo img {
    width: 4.5vw;
    min-width: 70px;
}
.menu {
    float: right;
    font-weight: 600;
    margin-top: 0.7vw;
    color: #1A212F;
    
}
.menu ul{
    display: flex;

}
.menu li {
    list-style-type: none;
    margin-left: 30px;
}
.menu a {
    color: #1A212F;
    transition: .4s;
}
.menu a:hover {
    color: #FF7236;
}
.menu2 a {
    color: #1A212F;
    transition: .4s;
}
.menu2 a:hover {
    color: #FF7236;
}
.menu [type="checkbox"]{
    display: none;
}
.catalog_main [type="checkbox"]{
    display: none;
}
.filtres [type="checkbox"]{
    display: inline;
}
.menu_class {
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}
.menu2 {
    float: right;
    font-weight: 600;
    margin-top: 0.7vw;
    color: #1A212F;
    
}
.menu2 ul{
    display: flex;

}
.menu2 li {
    list-style-type: none;
    margin-left: 30px;
}
.menu2 [type="checkbox"]{
    display: none;
}
.menu_class2 {
    text-transform: uppercase;
    cursor: pointer;
    display: none;
}
.s2 {
    background: url(..//img/maincat.jpg) no-repeat center top / cover;
    padding-bottom: 9vw;
}

.nameblock {
    margin-left: 12vw;
    padding-top: 13vw;
}
.s2 span {
    font-size: 14px;
}
.s2 p {
    font-size: 20px;
    
}
.s2 h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 6vw;
    margin: 0;
    padding: 0;
}
.button {
    background-color: #fff;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    transition: .5s;
    
}
.but1 {
    color: black;
}
.button:hover {
    transform: scale(1.1);
    background-color: #FF7236;
}
.button:hover span{
    color: #fff;
}
.button span {
    font-size: 18px;
    margin-top: 8px;
}
.S_about_us h1{
    margin: 30px auto;
    margin-top: 8.5vw;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 6vh;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards-container span{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
    
}
.card {
    width: 19vw;
    
    border-radius: 10px;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    padding: 2vw; 
    background-color: #FFFDFB;
    margin-bottom: 30px;
    min-width: 240px;
    min-height: 360px;
    font-size: 18px;
    z-index: 2;

}
.opas {
    position: absolute;
    width: 25vw;
    margin-top: -10vw;
    right: 0px;
    z-index: 1;
}
.fish {
    position: absolute;
    left: 10px;
    width: 30vw;
}
section  .hh{
    text-align: center;
    font-size: 3em;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}
.card img {
    width: 7vw;
    min-width: 60px;
    margin-bottom: 25px;
}
.swiper-pagination-bullet {
    width: 12px!important;
    height: 12px!important;
}

.swipers_buttons {
    display: flex;
    float: right;
    margin-right: 10px;
    
}
.swiper-pagination {
    position: relative!important;
    width: 140px!important;
    margin: 30px auto;
}
.swipers_buttons img {
    transition: .6s;
    width: 46px;
    height: 46px;
    margin-left: 20px;
    margin-top: -65px;  
    border-radius: 1000px;
    
}
.swiper-wrapper {
    padding: 2px;
}
.swipers_buttons img:hover {
    padding: -15px;
    transform: scale(1.1);
    box-shadow: 0px 0px 8px .02px #FF7236;
}
.swiper-container {
    width: 60vw;
}
.swiper-slide {
    display: flex;
}
.swiper-slide .swiper-slide__imgSlide{
    width: 40vw;
    min-width: 430px;
    min-height: 325px;
    position: relative;
    z-index: 1;
}
.swiper-slide .button{
    background-color: #FF7236
}
.swiper-slide .button img{
    width: 2vw;
}
.rate {
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    border-radius: 10px;
    width: 24vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    padding: 1vw 4vw;
    margin-left: -5vw;
    margin-top: 6vw;
    position: relative;
    z-index: 2;
    background-color: #fff;
    min-width: 283px;
    min-height: 238px;
    
}
.rate ul {
    list-style-image: url(../img/marker.png); /* Путь к изображению маркера */
   }
.review {
    
    border-radius: 15px;
    box-shadow: 0px 0px 4px .2px rgba(71, 74, 80, 0.534);
    box-sizing: border-box;
    padding: 2vw;
}
.review .comm {
    margin-top: -6vw;
    float: left;
    margin-left: 20px;

}
.review span {
    color: #FF7236;
    font-size: 102px;
    margin-left: -1.3vw;
    font-family: 'Rubik', sans-serif;
}
.name-date {
    color: #848484;
}
.name {
    float: left;
}
.date {
    float: right;
}
.contacts {
    box-sizing: border-box;
    width: 41.5vw;
    padding-left: 13vw;
    background-color: #FAC663;
    float: left;
    padding-bottom: 30px;
    
}
.contacts h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 3em;
}
.sLast {
    margin-bottom: 30px;
}
iframe {
    width: 58.5vw;
    float: left;
    border: none;
}
.catSwiper {
    min-width: 697px;
}
footer {
    color: #8f8f8f;
    border-top: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -20px;
}
.input_price {
    width: 60px;
    -moz-appearance: textfield;
}
.input_price::-webkit-inner-spin-button { 
    display: none;
}
.price_span {
    font-weight: 600;
}
.confi {
    float: right;
}
.catalog_main {
    display: flex;
}
.swiper-slide .button img {
    min-width: 36px!important;
    min-height: 36px!important;
}
.button_reset {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #FAC663;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
    transition: .6s;
    margin-top: 20px;
}
.button_filtr {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #FAC663;
    border: 3px solid #FAC663;
    text-align: center;
    box-sizing: border-box;
    padding-top: 14px;
    transition: .6s;
    display: none;
    margin-top: 20px;
}
.button_filtr:hover {
    background-color: #fff;
}
.button_reset:hover {
    background-color: #FAC663;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sort {
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 5px rgba(221, 221, 221, 1);
}
.cat_block_list {
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 10px 2px rgba(221, 221, 221, 1);
    margin: 20px;
    z-index: 2;
    padding-bottom: 20px;
    
}
.cat_block_list img{
    position: static;
    z-index: 1;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 380px;

}
.list_block_text {
    box-sizing: border-box;
    padding-left: 30px;
}
.list_block_text p {
    font-size: 18px;
}
.list_block_text h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 26px;
}
select{
    -moz-appearance: none;
    border: none;
    position: relative;
    outline: none;
    padding: 5px;
    padding-right: 40px;
    outline:none;
    height: 40px;
}
option {
    border: none;
}
select:after{
    content: "";
    outline:none;
    display: block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    background-image: url("/put_k_strelke");
    position: absolute;
    right: 5px;
    top: 5px;
}
.button_reserved_v3 {
    color: #fff;
    box-sizing: border-box;
    display: block;
    width: 260px;
    height: 45px;
    border-radius: 100px;
    background-color: #FF7236;
    border: 3px solid #FF7236;
    text-align: center;
    margin: 0 auto;
    display: flex;
    transition: .6s;
}
.button_reserved_v3:hover {
    background-color: #fff;
}
.button_reserved_v3:hover .butres3span{
    color: #FF7236;
}
.button_reserved_v3 span {
    display: block;
    padding-top: 11px;
    padding-left: 16px;
    width: 120px;
    flex: 5;
    transition: .6s;
}
.button_reserved_v3 img {
    width: 32px;
    float: right;
    flex: 1;
    padding: 3px;
}
.filtres_class {
    display: none;
}
.banner-img {
    display: block;
    margin: 0 auto;
}

.text-bannner {
    z-index: 2;
    margin: 120px auto;
    box-sizing: border-box;
    padding: 40px;
    padding-left: 22vw;
    border-radius: 20px;
    background: url(../img/banner.jpg) no-repeat center top / cover;
    background-size: auto;
}
.text-bannner h2{
    font-weight: 800;
    font-size: 38px;
    line-height: 50px;
}
.text-bannner h2 span{
    font-size: 59px;
}
.text-bannner p {
    font-size: 22px;
}
.img-slider-full {
    display: flex;
    margin: 0px!important;
    width: 100%!important;
}

.img-slider-icons {
    display: flex;
    flex: none;
    width: 7em;
    max-width: 300px;
    flex: 1;
    flex-direction: column;
}
.slide-icon {
    width: 230px!important;
}
.slide-icon img{
    width: 230px;
}
.img-slider-main {
    border-radius: 20px;
    flex: 4;
    max-width: 700px!important;

}
.slide-main {
    min-width: 300px!important;
    max-width: 700px!important;
}
.slider-3 .swiper-container {
    width: 70vw;
    
}
.wrapper-main {
    height: 476px!important;
}
.slide-main img{
    width: 100%;
    height: 100%;
}
.text-img-slider {
    flex: 1;
    margin-left: 30px;  

}
.text-img-slider a {

}
.button  {
    cursor: pointer; 
}
.popup-fade, .popup-fade2 {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #fff;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup-fade2:before {
	content: '';
	background: #fff;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup, .popup2 {
	position: fixed;
	top: 10%;
	left: 47%;
	padding: 20px;
    width: 460px;
    text-align: center;
	margin-left: -200px;	
	background: #fff;
	box-shadow: 0px 0px 10px 5px rgba(221, 221, 221, 1);
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup2 {
    margin-top: 440px;
}
.popup-close, .popup-close2 {
	position: absolute;
	top: 10px;
	right: 10px;
}
.popup input{
    border-radius: 120px;
    border: 2px solid gray;
    transition: .6s;
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
}
.inputData {
    width: 100px!important;
}
.popup input:hover{
    border: 2px solid rgba(255, 114, 54, 0.4321);
    outline: 0;
    outline-offset: 0;
}.popup input:focus{
    border: 2px solid #FF7236;
    outline: 0;
    outline-offset: 0;
}
.popup-close-button {
    width: 120px;
}
@media screen and (max-width: 768px) {
    .swiper-button-prev_catM, .swiper-button-next_catM, .swiper-button-prev_cat2, .swiper-button-next_cat2 {
        display: none;
    }
    .menu li {
        margin-left: 5px;
        font-size: 14px;
    }
    .menu2 li {
        margin-left: 5px;
        font-size: 14px;
    }
    .nameblock p {
        font-size: 12px;
    }
    .card {
        padding: 20px;
        padding-bottom: -100px;
        font-size: 18px;
        
    }
    .nameblock p {
        width: 200px;
    }
    .card img {
        margin-bottom: 10x;

    }
    .swiper-slide__imgSlide {
        display: block;
        margin: 0 auto;
        width: 70vw!important;

    }
    .rate {
        background-color: rgba(255, 255, 255, .3);
        box-shadow: none;
        position: absolute;
        box-shadow: none;
        left: 45%;
        min-width: 140px;
        width: 45vw;
    }
    .rate .button {
        width: 190px;
    }

    .catSwiper {
        min-width: 320px;
        width: 85vw;
    }
    .swiper-slide .button img {
        min-width: 30px!important;
        min-height: 30px!important;
    }
    .contacts {
        padding-bottom: 25px;
    }
    .contacts h1 {
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        font-size: 2em;
    }
    .contacts h2 {
        font-size: 1.1em;
    }
    .catalog_main {
        flex-direction: column;
    }
    .filtres {
        display: none;
    }
    .filtres_class {
        display: block;
        margin: 10px auto;
    }
    input.filtres_class:checked ~ .filtres {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .text-bannner {
        padding-left: 15vw;
    }
    .text-bannner h2{
        font-weight: 800;
        font-size: 26px;
        line-height: 37px;
    }
    .text-bannner h2 span{
        font-size: 40px;
    }
    .text-bannner p {
        font-size: 16px;
    }
    .img-slider-full {
        flex-direction: column;
    }
    .img-slider-icons {
        flex-direction: row;
        margin: 0;
    }
    .img-slider-icons img {
        width: 200px;
    }
    .wrapper-main {
        height: 256px!important;
    }
    .slide-icon {
        width: 25vw!important;
    }

    .slider-3 .swiper-wrapper {
        margin: 0!important;
    }
    .popup, .popup2 {
        padding: 20px;
        width: 420px; 
        left: 45%;
    }
}
@media screen and (max-width: 485px) {
    .menu ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu2 ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu_class, .menu_class2 {
        display: flex;
    }
    input.menu_class:checked ~ ul {
        transition: 2s;
        display: flex;
    }
    .nameblock h1 {
        font-size: 26px;
    }
    .nameblock p {
        width: 100px;
    }
    .button {
        background-color: #fff;
        width: 140px;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        
    }
    .button img {
        width: 26px;
        height: 26px;
    }
    .button span {
        font-size: 14px;
        margin-top: 5px;
    }
    .catSwiper {
        min-width: 290px;
    }
    .swiper-slide__imgSlide {
        min-width: 275px!important;
        min-height: 200px!important;
    }
    .catSwiper .swiper-slide {
        flex-direction: column;
    }
    .swipers_buttons {
        margin-top: 26px;
    }
    .catSwiper .swipers_buttons {
        margin-right: 20px;
    }
    .swipers_buttons img {
        width: 40px;
        height: 40px;
    }
    .swiper-pagination {
        position: relative!important;
        width: 60px!important;
    }
    .catSwiper .swiper-pagination {
        margin: 0 auto;
    }
    .rate {
        position: relative;
        width: 80vw;
        left: 0;
        margin: 0 auto;
    }
    .rate .button {
        margin: 0 auto;
    }
    .contacts {
        padding-left: 15px;
        width: 100%;
        float: none;
        padding: 15px;
    }
    .contacts h1 {
        font-family: 'Rubik', sans-serif;
        font-weight: 900;
        font-size: 1.4em;
    }
    .contacts h2 {
        font-size: 1.1em;
    }
    iframe {
        height: 140px;
        width: 100%;
        float: none;
    }
    .menu2 ul {
        flex-direction: column;
        display: none;
        min-height: 0; 
    }
    .menu_class2 {
        display: flex;
    }
    input.menu_class2:checked ~ ul {
        transition: 2s;
        display: flex;
    }
    .copyright {
        display: block;
        text-align: center;
    }
    .confi {
        float: none;
        display: block;
        text-align: center;
    }
    .cat_block_list {
        width: 80%;
    }
    .cat_block_list img {
        width: 100%;
    }
    .cat_block_list .img_paw_v3 {
        width: 30px;
    }
    .button_reserved_v3 {
        width: 210px;
    }
    .WeNumbers-h1 {
        font-size: 18px!important;
    }
    .button_reserved_v3 img {
        padding: 4px;
    }

    .text-bannner h2{
        font-weight: 800;
        font-size: 22px;
        line-height: 33px;
    }
    .text-bannner h2 span{
        font-size: 32px;
    }
    .img-slider-icons {
        flex-direction: column;
        width: 200px!important;
        padding-left: 15%;
    }
    .slide-main {
        min-width: 100px!important;
    }
    .popup, .popup2 {
        padding: 20px;
        width: 270px; 
        left: 64%;
    }
    .popup input{
        
        width: 240px;
        margin-bottom: 10px;
    }
    .popup-close-button {
        width: 80px;
    }
    .popup2 {
        margin-top: 480px;
    }
}